.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spec-book {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.magic-dots.slick-dots ul {
  padding: 0;
  display: flex;
  transition: all 0.2s;
  position: relative;
  margin: 0;
}
.magic-dots.slick-dots li.slick-active button:before {
  color: #00558b;
}
.magic-dots.slick-dots li button:before {
  transition: font-size 0.35s;
  font-size: 12px;
  content: "\2022";
}
.magic-dots.slick-dots li.small button:before {
  font-size: 8px;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  .moblie-nav li {
    display: none;
  }
}
